.hero {
  aspect-ratio: 1.375;
  box-sizing: border-box;
  box-shadow: inset 0 0 1rem black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin: -1rem;
  padding: 2rem;
  position: relative;
  width: calc(100% + 2rem);
  z-index: 1;
}

@media (min-width: 40rem) {
  .hero {
    aspect-ratio: 2;
  }   
}

@media (min-width: 50rem) {
  .hero {
    aspect-ratio: 3;
  }
}

@media (min-width: 70rem) {
  .hero {
    aspect-ratio: 4;
  }
}

.hero img {
  height: auto;
  left: 50%;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
